<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="./OWBanner.png" height="30" class="d-inline-block align-top" alt="">
        Mongo Scraper
    </a>

    <form class="form-inline">
        <button id = "scrape" class="btn btn-outline-success" type="button">Scrape</button>
        <button id = "clear" class="btn btn-sm btn-outline-danger" type="button">Clear Articles</button>
    </form>
</nav>

<div id="wrapper">
    <h2><i>Scraping the local news...</i></h2>

    {{!-- Bootstrap modal for notes --}}
    <div class="card-columns"><div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">New Note</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body"><input id="titleinput" name="title" value=""><textarea id="bodyinput" name="body"></textarea></div><div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button><button type="button" class="btn btn-primary savenote" data-id="">Save changes</button></div></div></div></div></div>
    
</div>
