<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="./OWBanner.png" height="30" class="d-inline-block align-top" alt="">
        Mongo Scraper
    </a>

    <form class="form-inline">
        <button id = "scrape" class="btn btn-outline-success" type="button">Scrape</button>
        <button id = "clear" class="btn btn-sm btn-outline-danger" type="button">Clear Articles</button>
    </form>
</nav>
<div id="wrapper">
    <h2><i>Scraping the local news...</i></h2>
    {{!-- <div id="articles"></div> --}}
    <div class="card-columns">
    </div>
    {{!-- <div id="notes"></div> --}}
</div>